/*/////////////////////////////////////////////////////
  ++ CSS THEME SETTING
  ++ www.pixostudios.com/codex/gui/gui.php
//////////////////////////////////////////////////////
  [info]
  imposta i colori ed altro della UI
/////////////////////////////////////////////////////*/

/*cursor*/
body
{ cursor: url(../media/cursor/arrow.png), auto !important; }
a, .§button
{ cursor: url(../media/cursor/pointer.png), pointer !important; }
.help,.§tooltip
{ cursor: url(../media/cursor/help.png), help !important; }
.grab
{ cursor: url(../media/cursor/move.png),move !important; }

/*base setting*/
body{
    color: #3e6e96;
    font-family: "nexa_lightregular";
    letter-spacing: 1px;
}
hr{
    border-bottom: 1px solid #c7ced0;
    height: 0; line-height: 0; padding: 0;
    margin: 35px 0 35px 0;
}
.§br-small{
    margin: 12px 0 12px 0 !important;
}

/*text*/
h1,h2{
    color: #3e6e96;    
    letter-spacing: -1px;
}
h3,h4{
    color: #3e6e96;    
    letter-spacing: 0px;
}
h4{ padding: 0px 0 10px 0; }
h5,h6,h7{
    color: #3e6e96;    
    letter-spacing: 0px;
}

/*link*/
a{
    color: #185e56;
}
a:hover{
    color: #33ccff;
}
p>a,a:focus{
    color: #185e56;
    border-bottom: 1px dotted #185e56;
}
p>a:hover{
    color: #185e56;
}
p>a:hover{
    color: #185e56;
    border-bottom: 1px dotted #185e56;
}
p>a.focus{
    color: #185e56;
    border-bottom: 1px dotted #185e56;
}
h2>a{ font-size: 37px;}


/*tooltip*/
.§tooltip:hover:after{
    color: white !important;
    background: #333;
    background: rgba(0,0,0,.9);
    box-shadow: 0 1px 3px rgba(0,0,0,.8); 
}
.§tooltip:hover:before{
    border-color: #333 transparent;
}


/*table*/
*[class^="§panel"] th{
    padding-top: 0 !important;
}
*[class^="§table-"] td, *[class^="§table-"] tr{    
    border-color: #c7ced0 !important;
}
*[class^="§table-"] tr{
    color: #3e6e96;
}
*[class^="§table-"] .§button-group>a{ margin-left: -5.5px !important;}
/*panel*/
*[class^="§panel"]{
    border-color: #c7ced0 !important;
}

/*panel*/
.section, .section-group{
    border-color: #c7ced0 !important;
}

/*breadcrumps*/
.§breadcrumbs-classic{
    border: solid 2px #ccc;
    border-radius: 8px;
    box-shadow: 0 0 3px #346672;
}
.§breadcrumbs-classic a{
    border: solid 0px;
    padding:11px 40px 11px 65px;
}
.§breadcrumbs-classic a:after {
    right: -15px;
    width: 44px;
    height: 44px;
    background: white;
    box-shadow: 3px -3px 2px #ccc;
}
.§breadcrumbs-classic a:before {
    left: 25px;
    padding:11px 10px 11px 10px;
    border-right: 1px dotted #c7ced0;
}
.§breadcrumbs-classic a:hover,
.§breadcrumbs-classic a.active, 
.§breadcrumbs-classic a:hover:after,
.§breadcrumbs-classic a.active:after{
    color: #fff;
    background: #00a79c;
}

/*button*/
.§button-group{
    border: solid 1px #185e56;
    box-shadow: 0 0 2px #346672 inset, 0 0 2px #346672;    
}
.§btn-separator{
    border-left: 4px dotted #00A79C;
    margin-left: 5px;
    margin-right: 10px;
}
.§button{
    transition: all .5s;
    text-shadow: 0 1px 2px #000, 0 -1px #999 ;
    padding:10px 20px 12px 20px;
    border: solid 1px #185e56;
    box-shadow: 0 0 2px #346672 inset, 0 0 2px #346672;
    border-radius: 8px;
    background: #00a79c; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a79c 0%, #80a4a4 88%, #006980 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a79c), color-stop(88%,#80a4a4), color-stop(89%,#006980)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a79c 0%,#80a4a4 88%,#006980 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a79c 0%,#80a4a4 88%,#006980 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a79c 0%,#80a4a4 88%,#006980 89%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a79c 0%,#80a4a4 88%,#006980 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a79c', endColorstr='#006980',GradientType=0 ); /* IE6-9 */
}
a.§button{
    padding:11px 21px 13px 21px;
    border: solid 1px #185e56;
    box-shadow: 0 0 2px #346672 inset, 0 0 2px #346672;
}
.§button[type="text"],.§button[type="password"]{
    color: #3e6e96;
    background: #fff;
    box-shadow: 0 0 2px #346672 inset, 0 0 0px #346672;
    text-shadow: none !important;
}
.§button[type="button"],.§button[type="submit"],a.§button{
    box-shadow: 0 0 2px #346672 inset, 0 0 2px #346672;
    color:#fff;
    background-color:#00A79C;
}
.§button[type="button"]:active,.§button[type="submit"]:active,a.§button:active{
    box-shadow: 1px 0px 2px #346672 inset, -1px 0px 2px #346672 inset, 0 0 2px #346672;
    background: #00a79c; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a79c 0%, #769696 94%, #006980 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a79c), color-stop(94%,#769696), color-stop(96%,#006980)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a79c 0%,#769696 94%,#006980 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a79c 0%,#769696 94%,#006980 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a79c 0%,#769696 94%,#006980 96%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a79c', endColorstr='#006980',GradientType=0 ); /* IE6-9 */
}
.disabled,
.§button:disabled{
    opacity: .50;
}
.buttonLoading{
    opacity: .70;
}
textarea{
    color: #3e6e96;
    padding:30px;
    border: solid 1px #3e6e96;
    background: #fff;
    box-shadow: 0 1px 3px #346672 inset;
}

@media only screen and (max-width:992px) {
    /*se i pulsanti hanno dei bordini allora...*/
    .§btn-compact>* {
        border-bottom: 1px solid #ccc !important;
    }
    .§btn-compact>*[class^="§checkbox-"]+*[class^="§button"] {
        border-top: 1px solid #ccc !important;
    }
}

/*checkbox & radio*/
.§checkbox-square-check{
    width: 20px; height: 20px;
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );    
}
.§button-group > .§checkbox-square-check{
    border-right: 1px solid #ccc !important; 
}
.§checkbox-square-check label{
    width: 18px; height: 18px; left: 1px; top: 1px;
    background: #eeeeee;/*bkg di fondo della checkbox*/
    box-shadow: 0 1px 6px #ccc inset; 
}
.§checkbox-square-check label:after{
    width: 8px; height: 4px; left: 4px; top: 4.5px;
    border-color: #185e56;
}

.§checkbox-slide-big{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    background:             #eeeeee;/*bkg a riposo (contenitore)*/
    box-shadow:             0 1px 6px #ccc inset;
}
.§checkbox-slide-big label{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
   -webkit-border-radius:   2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    -webkit-box-shadow:     0px 0px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:        0px 0px 2px 0px rgba(0,0,0,0.3);
    box-shadow:             0px 0px 2px 0px rgba(0,0,0,0.3);
}
.§checkbox-slide-big:before{
    color: #185e56;
}
.§checkbox-slide-big:after{
    color:                  #185e56;/*colore scritta "OFF"*/
    text-shadow:            1px 1px 0px rgba(255,255,255,.15);
}
.§button-group > .§checkbox-slide-big label{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
}

.§checkbox-slide-mini input[type="radio"]:checked + label{
    background: #7DA7C0;
}
.§checkbox-slide-mini label{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}
.§checkbox-slide-mini{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    box-shadow:             0 1px 6px #ccc inset;
    background:             #eee; /*bkg della linea su cui scorre il puntino*/
}
.§checkbox-slide-mini label {
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    border-color:           #333; /*bordo del puntino*/
    -webkit-box-shadow:     2px 2px 2px 0px #ccc;
    -moz-box-shadow:        2px 2px 2px 0px #ccc;
    box-shadow:             2px 2px 2px 0px #ccc;
}
.§checkbox-slide-mini input[type="radio"]:checked + label {
    -webkit-box-shadow:     -2px 2px 2px 0px #ccc;
    -moz-box-shadow:        -2px 2px 2px 0px #ccc;
    box-shadow:             -2px 2px 2px 0px #ccc;
}