/*/////////////////////////////////////////////////////
  ++ CSS THEME SETTING
  ++ www.pixostudios.com/codex/gui/gui.php
//////////////////////////////////////////////////////
  [info]
  imposta i colori ed altro della UI
/////////////////////////////////////////////////////*/

/*STATIC TYPOGRAPHY THEME*/

h2 {
    border-left: 3px solid #ccc;
    padding-left: 12px;
}

h3 {
    border-left: 2px dotted #ccc;
    padding-left: 15px;
}

/*STATIC BACKGROUNDED ELMENTS THEME*/
.§bkg-clear {
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f7f7f7 96%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(96%,#f7f7f7));
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 96%);
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 96%);
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f7f7f7 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=1 );
}

.§bkg-dark {
    /*nessun elemento per questo tema*/;
}


/*COOMON COLOR THEME*/
dt,th,ul,ol,dl,dd,td,p,blockquote,strong,b,i,blockquote,pre,blockquote:before,blockquote:after,
.§panel,.§panel> .§section, .§panel> .§section-group,
*[class^="§table"] th,
*[class^="§table"] td,
*[class^="§table"] tr:first-child,
*[class^="§table"] tr:last-child,
*[class^="§table"] p,
§breadcrumbs-clear a:before,
*[class^="§button"],
*[class^="§button"]:hover ,
.§button-group, .§btn-separator,
.§arrow,.§overlay,.§arrow:after,.§overlay:after,
.§close, .§close-left, .§close-left:before, .§close-right, .§close-right:after,
*[class^="§list"],*[class^="§list"] *,*[class^="§list"] li, *[class^="§list"] + *[class^="§list"],
.§list-section li:last-child {
    color: #666;
    border-color: #ccc;
}

a,a:link,a:visited {
    color: #ff9900;
}

a:hover,a:focus {
    color: #ff7300;
}

a:active {
    color: #ff7300;
}

strong {
    color: #b16262;
    background: #c2660d;
}

hr {
    background: #333333;
}
 
 
/*BUTTON THEME*/
/*all button - tutti tranne check e radio*/
*[class^="§button"] {
    /* dimensione */
    padding: 8px 20px;
    font-size: 12px;
    /* stile */
    border-width: 1px;
    border-style: solid;
    background: #eeeeee;
}
/*button action (solo submit, reset, link ecc)*/
.§button {
    box-shadow: 0 2px 8px #ccc, inset 0 8px 8px #fff, inset -1px -1px 3px #fff;
}
/*button text (solo type:text e textarea ecc)*/
textarea.§button, input[type="text"].§button, input[type="password"].§button {
    box-shadow: 0 1px 6px #ccc inset;
}

/*button status*/
/*Hover - quando il mouse sta sopra al bottone */
*[class^="§button"]:not(.§button-group):hover {
    background: #fff;
}
/* Active - quando si clicca il bottone*/
*[class^="§button"]:not(.§button-group):active {
    background-color: #dedede;
    box-shadow: inset 0 2px 3px #bcbcbc;
}
/* Focus - quando il bottone è cliccato e deve rimanere così */
*[class^="§button"].focus {
    background-color: #dedede;
    box-shadow: inset 0 2px 3px #bcbcbc;
}

/*button separator*/
.§btn-separator {
    /*dimensione*/
    margin: 0 12px 0 4px;
    /*stile*/
    border-left-width: 3px;
    border-style: dotted;
}

/*other elements*/
.§arrow,.§overlay {
    /*grandezza destra*/
    padding-right: 12px;
}

.§arrow:after,
.§overlay:after {
    /*dimensione sinistra*/
    margin-left: 10px;
    padding-left: 10px;
    /*stile*/
    border-left-width: 1px;
    border-left-style: solid;
    /*
    se vuoi la linea verticale estesa...
    padding-top: 10px; padding-bottom: 10px;
    */;
}

.§close {
    /*dimensione*/
    padding: 8px 10px 8px 9px;
    /*stile*/
    border-width: 5px;
    border-style: solid;
    background: #fff;
}

.§close-right {
    padding-right: 11px !important;
}

.§close-right:after {
    /*dimensione sinistra*/
    margin-left: 10px;
    padding-left: 10px;
    /*stile*/
    border-left-width: 1px;
    border-left-style: solid;
    /*
    se vuoi la linea verticale estesa...
    padding-top: 10px; padding-bottom: 10px;
    */
}

.§close-left {
    padding-left: 11px !important;
}

.§close-left:before {
    /*dimensione destra*/
    margin-right: 10px;
    padding-right: 10px;
    /*stile*/
    border-right-width: 1px;
    border-right-style: solid;
    /*
    se vuoi la linea verticale estesa...
    padding-top: 10px; padding-bottom: 10px;
    */
}

/*CHECK E RADIO THEME*/
@media only screen and (max-width:992px) {
    /*se i pulsanti hanno dei bordini allora...*/
    .§btn-compact>* {
        border-bottom: 1px solid #ccc !important;
    }
    .§btn-compact>*[class^="§checkbox-"]+*[class^="§button"] {
        border-top: 1px solid #ccc !important;
    }
}

/*common color*/
.§checkbox-slide-big:before,
.§radiobox-slide-big:before {
    color: #7DA7C0;
}

.§checkbox-slide-mini input[type="checkbox"]:checked + label,
.§radiobox-slide-mini input[type="radio"]:checked + label,
.§checkbox-slide-medium input[type=checkbox]:checked + label:after,
.§radiobox-slide-medium input[type=radio]:checked + label:after,
.§checkbox-round-light label:after,
.§radiobox-round-light label:after,
.§checkbox-square-light label:after,
.§radiobox-square-light label:after {
    background: #7DA7C0;
}

.§checkbox-round-check label:after,
.§radiobox-round-check label:after,
.§checkbox-square-check label:after,
.§radiobox-square-check label:after,
.§checkbox-mini-check label:after,
.§radiobox-mini-check label:after,
.§checkbox-mini-light label:after,
.§radiobox-mini-light label:after {
    border-color: #7DA7C0;
}

.§checkbox-slide-mini label,
.§radiobox-slide-mini label,
.§checkbox-slide-medium label,
.§radiobox-slide-medium label,
.§checkbox-slide-big label,
.§radiobox-slide-big label,
.§checkbox-round-light,
.§radiobox-round-light,
.§checkbox-round-check,
.§radiobox-round-check,
.§checkbox-square-light,
.§radiobox-square-light,
.§checkbox-square-check,
.§radiobox-square-check,
.§checkbox-mini-check label,
.§radiobox-mini-check label,
.§checkbox-mini-light label,
.§radiobox-mini-light label {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}

/*correzione nel gruppo ( se c'è il bordino... )*/
.§button-group > .§checkbox-round-check,
.§button-group > .§radiobox-round-check,
.§button-group > .§checkbox-round-light,
.§button-group > .§radiobox-round-light
.§button-group > .§checkbox-square-light,
.§button-group > .§radiobox-square-light,
.§button-group > .§checkbox-square-check,
.§button-group > .§radiobox-square-check{
    border-right: 1px solid #ccc !important;
}

/*elementi singoli*/
/*slide-mini*/
.§checkbox-slide-mini,
.§radiobox-slide-mini{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    box-shadow:             0 1px 6px #ccc inset;
    background:             #eee; /*bkg della linea su cui scorre il puntino*/
}
.§checkbox-slide-mini label,
.§radiobox-slide-mini label {
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    border-color:           #333; /*bordo del puntino*/
    -webkit-box-shadow:     2px 2px 2px 0px #ccc;
    -moz-box-shadow:        2px 2px 2px 0px #ccc;
    box-shadow:             2px 2px 2px 0px #ccc;
}
.§checkbox-slide-mini input[type="checkbox"]:checked + label,
.§radiobox-slide-mini input[type="radio"]:checked + label {
    -webkit-box-shadow:     -2px 2px 2px 0px #ccc;
    -moz-box-shadow:        -2px 2px 2px 0px #ccc;
    box-shadow:             -2px 2px 2px 0px #ccc;
}

/*slide-medium*/
.§checkbox-slide-medium,
.§radiobox-slide-medium{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    background:             #eeeeee;/*bkg a riposo (contenitore)*/
    box-shadow:             0 1px 6px #ccc inset;
}
.§checkbox-slide-medium:after,
.§radiobox-slide-medium:after {    
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    background:             #eeeeee;/*bkg della linea su cui scorre il puntino*/
    box-shadow:             0 1px 6px #ccc inset;
}
.§checkbox-slide-medium label,
.§radiobox-slide-medium label{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    -webkit-box-shadow:     0px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:        0px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow:             0px 2px 3px 0px rgba(0,0,0,0.3);
}
.§checkbox-slide-medium label:after,
.§radiobox-slide-medium label:after {
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    -webkit-box-shadow:     inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    -moz-box-shadow:        inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    box-shadow:             inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    background:             #333;/*bkg del puntino a riposo*/
}

/*slider big*/
.§checkbox-slide-big,
.§radiobox-slide-big{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    background:             #eeeeee;/*bkg a riposo (contenitore)*/
    box-shadow:             0 1px 6px #ccc inset;
}
.§checkbox-slide-big:after,
.§radiobox-slide-big:after{
    color:                  #999;/*colore scritta "OFF"*/
    text-shadow:            1px 1px 0px rgba(255,255,255,.15);
}
.§checkbox-slide-big label,
.§radiobox-slide-big label{
   -webkit-border-radius:   2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    -webkit-box-shadow:     0px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:        0px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow:             0px 2px 3px 0px rgba(0,0,0,0.3);
}
.§button-group > .§checkbox-slide-big label,
.§button-group > .§radiobox-slide-big label{
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
}

/*round light*/
.§checkbox-round-light,
.§radiobox-round-light {
    -webkit-box-shadow:     inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:        inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow:             inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.§checkbox-round-light label,
.§radiobox-round-light label {
    background:             #eeeeee;/*bkg di fondo*/
    box-shadow: 0 1px 6px #ccc inset;
}


/*round check*/
.§checkbox-round-check,
.§radiobox-round-check {
    -webkit-box-shadow:     inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:        inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow:             inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.§checkbox-round-check label,
.§radiobox-round-check label {
    background: #eeeeee;
    box-shadow: 0 1px 6px #ccc inset;
}

/*square light*/
.§checkbox-square-light,
.§radiobox-square-light{
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.§checkbox-square-light label,
.§radiobox-square-light label {
    background: #eeeeee;/*bkg di fondo*/
    box-shadow: 0 1px 6px #ccc inset;
}

/*square check*/
.§checkbox-square-check,
.§radiobox-square-check{
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.§checkbox-square-check label,
.§radiobox-square-check label{
    background: #eeeeee;/*bkg di fondo della checkbox*/
    box-shadow: 0 1px 6px #ccc inset;
}
/*check mini (in)*/
.§checkbox-mini-check label,
.§radiobox-mini-check label{
    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
}
/*check mini (out)*/
.§checkbox-mini-light label,
.§radiobox-mini-light label {
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.§checkbox-mini-light label:after,
.§radiobox-mini-light label:after {
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    -webkit-box-shadow:     inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    -moz-box-shadow:        inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    box-shadow:             inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
    background:             #333;/*bkg del puntino a riposo*/
}
