
/*
    TOOLTIPS
    mofica l'aspetto dei tooltips...
*/

.§tooltips-simple:hover:after{
    color: white !important;
    background: #333;
    background: rgba(0,0,0,.9);
    box-shadow: 0 1px 3px rgba(0,0,0,.8); 
    padding: 20px;
    font-size: 11px;
    line-height: 13px;
}
.§tooltips-simple:hover:before{
    border-color: #333 transparent;
}