
/*
    SELECTBOX
    Modifica l'aspetto delle selectbox.
    Le selectbox sono un'alternativa al tag select, osserva con un debuggher la sua struttura e modifica di conseguenza.
*/

.§selectbox,.§selectbox *{
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.§selectbox{
    color: #FFF;
    border: 1px solid #2a90aa;
    background: #49d5ff;
    text-shadow: 0px 0px 2px #fff;
    box-shadow: 0px 0px 30px #2a90aa inset;
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.§selectbox.focus,
.§selectbox:hover,
.§selectbox:hover>input{
    background: #31c6f4;
    text-shadow: 0px 0px 10px #fff;
    box-shadow: 0px 0px 5px #49ffff inset;
}
.§selectbox.active,
.§selectbox:active,
.§selectbox:active>input{
    background: #2a90aa;
    text-shadow: 0px 0px 5px #fff;
    box-shadow: 0px 0px 5px #283d3f inset;
}
.select{
    position: relative;
    background: rgba(0,0,0,0.0);
    padding:10px 27px 11px 27px;
}
.selectorContainer{
}

/*lista opzioni*/
.selector{
    border: 0;
}


/*opzioni*/
.selector>li{
    color: #FFF;
    background: #49d5ff;
    text-shadow: 0px 0px 2px #fff;
    box-shadow: 0px 0px 30px #2a90aa inset;
}
.selector>li:nth-child(odd){
    opacity: 0.8;
}
.selector>li:nth-child(even){
    opacity: 0.95;
}
.focused>li{
    padding: 10px 15px 10px 15px;
}
.selector>li:hover{
    background: #31c6f4;
    text-shadow: 0px 0px 10px #fff;
    box-shadow: 0px 0px 5px #49ffff inset;
}
.selector>li:active{
    background: #2a90aa;
    text-shadow: 0px 0px 5px #fff;
    box-shadow: 0px 0px 5px #283d3f inset;
}

/*arrotondo opzioni*/
.selector>li:first-child{
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.selector>li:last-child{
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}