
/*
CSS ACCORDION SETTING
*/


.§accordion,.trig{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    background: #ccccff;
}
.focus{
    background: #0099cc;
}