
/*
BUTTON SETTING
*/

/*general setting*/
*[class^="§button"]{
    display: inline-block !important;
    vertical-align: middle !important;
    text-align: center !important;
    letter-spacing: normal !important;
    font-weight: bold !important;
    line-height: 1.25em !important;
    font-style: inherit !important;
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
}

/*button disabled*/
.§button.disabled,
input.§button:disabled
{
    background: inherit !important;
    box-shadow: 0 !important;
    -moz-opacity: 0.50;
    opacity: 0.50 !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    pointer-events: none !important;
    cursor: default;
}
input:hover:disabled
{ background: inherit !important; }
input:active:disabled
{ background: inherit !important; }

/*button text*/
textarea.§button,
input[type="text"].§button,
input[type="password"].§button{
    font-weight: 100 !important;
    text-align: left !important;
}

/*button correction for - a textarea text & password upload  range  check & radio*/
input[type="file"].§button{ display: none !important; }
input[type="range"].§button{ display: none !important; }
input[type="checkbox"],input[type="radio"] { visibility: hidden; }
*+*[class^="§checkbox"],*+*[class^="§radiobox"]{ margin-right: 15px !important;}
*+*[class^="§checkbox"]:last-child,*+*[class^="§radiobox"]:last-child{ margin-right: 5px; }
a.§button { margin-right: 4px ; }
textarea:active.§button, input[type="text"]:active.§button, input[type="password"]:active.§button
{ background-color: inherit !important; pointer-events: none; }

/*button group*/
.§button-group {
  padding:  0px !important;
  margin:  0px !important;
  overflow: hidden;
  display: inline-block !important;
  vertical-align: middle;
  position: relative;
  letter-spacing: -0.21em;
  white-space: nowrap;
}
.§button-group > * {
    margin: 0!important;
    display: inline-block  !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-left: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin-left: -3.4px !important;
}
.§button-group > *:first-child{
    margin-left: 0px !important; 
}
.§button-group > *:last-child{
    border-right: 0px !important; 
}
.§button-group > *[class^="§dropdown"]>a{
    margin: 0 !important;
    border: 0 !important;
}
.§button-group > *[class^="§dropdown"]>a:hover{
    margin: 0 !important;
    border: 0 !important;
}
.§button-group >.§btn-separator{display: none !important;}
@media only screen and (max-width:992px) {
    /*se i pulsanti hanno dei bordini allora...*/
    .§button-group>* {
        border-right: 0px !important;
    }
    .§btn-compact>*[class^="§checkbox-"],.§btn-compact>*[class^="§radiobox-"]{
        border-bottom: 0px !important;
    }
}
.§button-group > *[class^="§dropdown"] a{
    color: white !important;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: error;
    animation-timing-function: ease-in-out;
    background-color: #C60000;
    border-color: #770A0A !important;
    box-shadow: 0 0 30px #770A0A inset, 0 0 1px #770A0A !important;
}   @keyframes error {
    0% { background-color:  #c60000; text-shadow: 0px 0px 3px #fff !important; }
    25% { background-color:  #ff0000; text-shadow: 0px 0px 3px #000 !important; }
    50% { background-color:  #c60000; text-shadow: 0px 0px 3px #fff !important; }
    75% { background-color:  #ff0000; text-shadow: 0px 0px 3px #fff !important; }
    100% { background-color:  #c60000; text-shadow: 0px 0px 3px #fff !important; }
}


/*button separator*/
.§btn-separator{
    display: inline;
    line-height: inherit;
    padding: 2px 0 3px 0 !important;
    border-right-width:   0px;
    border-top-width:   0px;
    border-bottom-width:   0px;
}

/*other elements*/
.§arrow:after{
    content:"▼";    
    font-style: normal !important;
}
.§overlay:after{
    content:"☼";
    font-style: normal !important;
}
.§close{
    border-radius:      100%;
    -moz-border-radius:      100%;
    -ms-border-radius:      100%;
    -o-border-radius:      100%;
    -webkit-border-radius:      100%;
}
.§close:after{
    content:"✖";
    font-style: normal !important;    
}
.§close-right:after,.§close-left:before{
    content:"✖";
    font-style: normal !important;
}

/*drag & over selection*/
*[class^="§button"]>*:not([type="text"])::-moz-selection,*[class^="§button"]:not([type="text"])::-moz-selection, input:not([type="text"])::-moz-selection
{ background: transparent !important; border-color: inherit !important; color: inherit !important; }
*[class^="§button"]>*:not([type="text"])::-webkit-selection,*[class^="§button"]:not([type="text"])::-webkit-selection, input:not([type="text"])::-webkit-selection
{ background: transparent !important; border-color: inherit !important; color: inherit !important; }
*[class^="§button"]>*:not([type="text"])::-o-selection,*[class^="§button"]:not([type="text"])::-o-selection, input:not([type="text"])::-o-selection
{ background: transparent !important; border-color: inherit !important; color: inherit !important; }
*[class^="§button"]>*:not([type="text"])::-ms-selection,*[class^="§button"]:not([type="text"])::-ms-selection, input:not([type="text"])::-ms-selection
{ background: transparent !important; border-color: inherit !important; color: inherit !important; }


/*button group in phone*/
/*compact mobile (mini display)*/
@media only screen and (max-width:992px) {
    
    .§btn-compact{
        display: block;
        width: 100%;
    }
    .§btn-compact>*[class^="§checkbox-"]:not([class^="§checkbox-slide-mini"]),
    .§btn-compact>*[class^="§radiobox-"]:not([class^="§radiobox-slide-mini"]){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
        float: none;
        box-shadow: none !important;
        border-bottom: none;
    }

    .§btn-compact>.§checkbox-slide-mini,
    .§btn-compact>.§radiobox-slide-mini{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        border-bottom: none;
    }
    .§btn-compact>*[class^="§button"]{
        display: block !important;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-right: 0px;
        float: none !important;
    }
    .§btn-compact>*:last-child{
        border-bottom: none !important;
    }
}
























.§dropbox{
    display: none;
    position: absolute;
    background: #fff;
}
.§dropbox>*{
    display: block;
}


.§dropbox>ul,.§dropbox>ol{
    margin: 0;padding:0;
    list-style: none;
}
.§dropbox>ul li,.§dropbox>ol li{
    padding: 9px;
    border-top: 1px solid #ccc;
}







