
/*paginate*/
.§paginate{
    width: 100%;
    height: 0 !important;
    line-height: 0 !important;
    overflow: hidden;
    position:relative;
    display: inline;
}
.§paginate:after{
    content:" ";
    display: block !important;
}
.§paginate .pagelist{
    margin: 0 !important;
    overflow: hidden;
    display: block;
}

/*controller lista centrale*/
.§paginate .pagelist>ul{
    float: left;
    margin: 0 !important; padding: 0 !important;
    list-style-type: none !important;
}
.§paginate .pagelist ul>li{ float: left; display: block; }
.§paginate .pagelist ul>li:last-child{clear: right;}
.§paginate .pagelist ul>li>a{
    display: block;
    margin: 0 !important;
}
§paginate .pagelist ul>li{ float: left; display: block; }
.§paginate .pagelist ul>li:last-child{clear: right;}

/*controller sinistro*/
.§paginate .controlleft{ float: left; }
.§paginate .controlleft>a:first-child{
    display: block;
    float: left;
    margin: 0 !important;
}
.§paginate .controlleft>a:last-child{
    display: block;
    float: left;
    clear: right;
    margin: 0 !important;
}

/*controller destro*/
.§paginate .controlright{ float: left; }
.§paginate .controlright>a:first-child{
    display: block;
    float: left;
    margin: 0 !important;
}
.§paginate .controlright>a:last-child{
    display: block;
    float: left;
    clear: right;
    margin: 0 !important;
}